<% include common/header.ejs %>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: #8bc34a;
    color: black;
  }
</style>


<style type="text/css">
    .add{
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px dashed #333;
    }
    .add .title{width: 600px;}
  </style>


<header class="w3-container w3-light-green w3-center" style="padding:20px 16px">
    <h1 class="w3-margin w3-jumbo">Our Theme</h1>
</header>

<form action="/searchTopic" method="post">
    <input type="text"  name="search_text" placeholder="Search..." required="required">
    <input type="submit" name="submit" value="submit" ><span class="sear_tip"></span>
</form>

    <table>
      <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Creation Time</td>
      </tr>
      <% for(var i=0, len=data.length; i<len; i++) {%>
        <tr>
          <td><a href="/list/<%=data[i].id %>.html" title="<%=data[i].title %>"><%=data[i].title %></a></td>
          <td><%=data[i].username %></td>
          <td><%=data[i].createtime.toString().substring(0,16) %></td>
        </tr>
      <% } %>
    </table>
    <div class="add">
    <% if(user.username){ %>
        <p><input type="text" class="title" placeholder="Your Title !"></p>
        <textarea class="content" cols="100" rows="10" placeholder="What Do You Want To Say To Other People?"></textarea>
        <p><input type="button" class="submit" value="submit"><span class="tip"></span></p>
        <script type="text/javascript" src="http://mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
            let running = false;
            $('.submit').on('click', function () {
                if (running) return;
                running = true;
                $('.tip').text('');

                let title = $('.add .title').val(),
                    content = $('.add .content').val();
                if (!title || !content) {
                    $('.tip').text('The entry can not be empty');
                    return;
                }
                $('.tip').text('Data is being submitted ...');


                $.ajax({
                    url: '/list/addtopic',
                    data: {title: title, content: content},
                    dataType: 'json',
                    type: 'get'
                }).done(function (result) {
                    if (result.code == 0) {
                        let html = '<tr><td><a href="' + result.data.url + '" title="' + result.data.title + '">' + result.data.title + '</a></td><td>' + result.data.author + '</td><td>' + result.data.createtime.toString().substring(0, 16) + '</td></tr>';
                        $('table').append(html);
                        location.reload();
                        $('.tip').text('');
                        $('.title, .content').val('');
                    } else {
                        $('.tip').text('Add failed');
                    }
                    running = false;
                })
            })
        </script>
    <% } %>
</div>

<form action="/searchTopic" method="post">
    <input type="text"  name="search_text" placeholder="Search..." required="required">
    <input type="submit" name="submit" value="submit" ><span class="sear_tip"></span>
</form>

<% include common/footer.ejs %>