<% include common/header.ejs %>
<style type="text/css">
    .add {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px dashed #333;
    }

    .add .title {
        width: 600px;
    }
</style>

<form action="/searchTopic" method="post">
    <input type="text"  name="search_text" placeholder="Search..." required="required">
    <input type="submit" name="submit" value="submit" ><span class="sear_tip"></span>
</form>

<h1>Your Results</h1>
<table>
    <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Creation Time</td>
    </tr>
    <% for(var i = 0, len = data.length; i < len; i++) { %>
        <tr>
            <td><a href="/list/<%= data[i].id %>.html" title="<%= data[i].title %>"><%= data[i].title %></a></td>
            <td><%= data[i].username %></td>
            <td><%= data[i].createtime.toString().substring(0, 16) %></td>
        </tr>
    <% } %>
</table>

<% include common/footer.ejs %>